<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mascot_run.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{105,82}</string>
                <key>spriteSourceSize</key>
                <string>{113,88}</string>
                <key>textureRect</key>
                <string>{{861,1},{105,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{23,42}</string>
                <key>textureRect</key>
                <string>{{789,621},{23,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{460,515},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,44}</string>
                <key>spriteSourceSize</key>
                <string>{142,44}</string>
                <key>textureRect</key>
                <string>{{298,892},{142,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,44}</string>
                <key>spriteSourceSize</key>
                <string>{295,44}</string>
                <key>textureRect</key>
                <string>{{1,892},{295,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>error.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,131}</string>
                <key>spriteSourceSize</key>
                <string>{181,131}</string>
                <key>textureRect</key>
                <string>{{789,646},{181,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,77}</string>
                <key>spriteSourceSize</key>
                <string>{69,77}</string>
                <key>textureRect</key>
                <string>{{861,108},{69,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,272}</string>
                <key>spriteSourceSize</key>
                <string>{343,272}</string>
                <key>textureRect</key>
                <string>{{515,347},{343,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qr.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,344}</string>
                <key>spriteSourceSize</key>
                <string>{344,344}</string>
                <key>textureRect</key>
                <string>{{515,1},{344,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subtract.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,13}</string>
                <key>spriteSourceSize</key>
                <string>{16,13}</string>
                <key>textureRect</key>
                <string>{{442,892},{16,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>voucher_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,103}</string>
                <key>spriteSourceSize</key>
                <string>{297,103}</string>
                <key>textureRect</key>
                <string>{{860,347},{297,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vui72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{861,187},{73,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,326}</string>
                <key>spriteSourceSize</key>
                <string>{327,326}</string>
                <key>textureRect</key>
                <string>{{460,621},{327,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,457}</string>
                <key>spriteSourceSize</key>
                <string>{375,457}</string>
                <key>textureRect</key>
                <string>{{1,515},{375,457}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{111,130}</string>
                <key>spriteSourceSize</key>
                <string>{181,130}</string>
                <key>textureRect</key>
                <string>{{789,829},{111,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>wheelweb.png</string>
            <key>size</key>
            <string>{964,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a6bb2c1b6bc0b57545f170b10e89f3c:e549d8bdabc95f43aada988b1b50b09e:5d420ca1a927326c96938b0394b590ad$</string>
            <key>textureFileName</key>
            <string>wheelweb.png</string>
        </dict>
    </dict>
</plist>
